# Accessing Primary Care in Nova Scotia

In [10]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

1. **`from sqlalchemy import create_engine`**: Imports the **`create_engine`** function from **SQLAlchemy** to connect to a database.
2. **`import pandas as pd`**: Imports the **Pandas** library, which is a powerful tool for data manipulation and analysis.
3. **`import matplotlib.pyplot as plt`**: Imports the **`pyplot`** module from **Matplotlib** for creating visualizations like charts and graphs.

In [11]:
from sqlalchemy import create_engine


server_name = 'DESKTOP-0N0LQTG'
database_name = 'Nova_Scotia_Action_For_Health'


connection_string = f'mssql+pyodbc://{server_name}/{database_name}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'


engine = create_engine(connection_string)


try:
    with engine.connect() as conn:
        print("Connection successful!")
except Exception as e:
    print(f"Connection failed: {str(e)}")

Connection successful!

### Explanation

#### Imports
- **`from sqlalchemy import create_engine`**: Imports the `create_engine` function from sqlalchemy. This function is essential for creating a connection engine that allows Python to interact with a SQL database.

#### Variables
- **`server_name`**: `'DESKTOP-0N0LQTG'` 
- **`database_name`**: `'Nova_Scotia_Action_For_Health'`

#### Constructing Connection String
- Constructs a connection string using Python's f-string formatting:
  - `mssql+pyodbc://`: Specifies the dialect and driver to use (MSSQL with PyODBC driver).
  - `{server_name}/{database_name}`: Specifies the server and database to connect to.
  - `trusted_connection=yes`: Indicates Windows authentication should be used, where the current Windows credentials are used to authenticate.
  - `driver=ODBC+Driver+17+for+SQL+Server`: Specifies the ODBC driver to use for the connection. Adjust this according to the version of the ODBC driver installed on your system.

#### Creating the Engine
- Uses the `create_engine` function from sqlalchemy to create an engine (`engine`) object:
  - The `connection_string` is passed as an argument to `create_engine`, configuring the engine to connect to the specified SQL Server instance and database using the specified authentication method and driver.

#### Testing the Connection
- Attempts to establish a connection to the SQL Server database using the `engine.connect()` method:
  - If the connection is successful (`with` block), it prints "Connection successful!".
  - If an exception occurs during the connection attempt (e.g., authentication error, network issue), the `except` block catches the exception (`Exception as e`), and it prints "Connection failed: " followed by the error message (`str(e)`).

## Urgent Treatment Centre Visits by Zone for 2022 and 2023

In [12]:

query = """
SELECT
    Zone,
    SUM(Actual) AS UrgentTreatmentCentreVisits
FROM
    dbo.Accessing_Primary_Care_in_Nova_Scotia
WHERE
    [Measure_Name] = 'Visits were completed at Urgent Treatment Centres'
    AND YEAR(Date) IN (2022, 2023)  -- Filter for years 2022 and 2023
GROUP BY
    Zone;
"""

try:
    df = pd.read_sql_query(query, engine)
    display(df) 
except Exception as e:
    print(f"Error executing SQL query: {str(e)}")

       Zone  UrgentTreatmentCentreVisits
0   Central                         6311
1   Eastern                        47329
2  Northern                        25735
3   Western                         5747

### SQL Query Explanation

- **Explanation**: Defines an SQL query to retrieve data from the `Accessing_Primary_Care_in_Nova_Scotia` table.
- **Columns Selected**: Retrieves `Zone` and calculates the sum of `Actual` visits as `UrgentTreatmentCentreVisits`.
- **Filters**: Includes rows where `Measure_Name` is 'Visits were completed at Urgent Treatment Centres' and where `Date` year is either 2022 or 2023.
- **Grouping**: Groups results by `Zone`.

### DataFrame Loading and Error Handling

- **Explanation**: Executes the SQL query using Pandas `read_sql_query` function to fetch results from the SQL database (`engine`).
- **Loading Data**: Loads the query results into a Pandas DataFrame `df`.
- **Display**: Uses `display(df)` to show the DataFrame if in a Jupyter notebook environment.
- **Error Handling**: Catches any exceptions (`Exception as e`) that occur during the SQL query execution and prints an error message indicating the issue (`Error executing SQL query: {str(e)}`).

## Urgent Care Center Visits by Zone for 2022 and 2023

In [14]:

query = """
SELECT
    Zone,
    SUM(Actual) AS UrgentCareCentreVisits
FROM
    dbo.Accessing_Primary_Care_in_Nova_Scotia
WHERE
    [Measure_Name] = 'Visits were completed at Urgent Care Centres'
    AND YEAR(Date) IN (2022, 2023)  -- Filter for years 2022 and 2023
GROUP BY
    Zone;
"""


try:
    df = pd.read_sql_query(query, engine)
    display(df)  
except Exception as e:
    print(f"Error executing SQL query: {str(e)}")

      Zone  UrgentCareCentreVisits
0  Central                    8299
1  Western                    6763

### Explanation

#### SQL Query

- **Explanation**: Defines an SQL query to retrieve data from the `Accessing_Primary_Care_in_Nova_Scotia` table.
- **Columns Selected**: Retrieves `Zone` and calculates the sum of `Actual` visits as `UrgentCareCentreVisits`.
- **Filters**: Includes rows where `Measure_Name` is 'Visits were completed at Urgent Care Centres' and where `Date` year is either 2022 or 2023.
- **Grouping**: Groups results by `Zone`.

#### Execute the Query and Load Results into a DataFrame

- **Explanation**: Executes the SQL query using Pandas `read_sql_query` function to fetch results from the SQL database (`engine`).
- **Loading Data**: Loads the query results into a Pandas DataFrame `df`.
- **Display**: Uses `display(df)` to show the DataFrame if in a Jupyter notebook environment.
- **Error Handling**: Catches any exceptions (`Exception as e`) that occur during the SQL query execution and prints an error message indicating the issue (`Error executing SQL query: {str(e)}`).

## Primary Care Clinic Visits by Zone for 2022 and 2023

In [15]:
# Define the SQL query
query = """
SELECT
    Zone,
    SUM(Actual) AS PrimaryCareClinicsVisits
FROM
    dbo.Accessing_Primary_Care_in_Nova_Scotia
WHERE
    [Measure_Name] = 'Visits were completed at Primary Care Clinics'
    AND YEAR(Date) IN (2022, 2023)  -- Filter for years 2022 and 2023
GROUP BY
    Zone;
"""


try:
    df = pd.read_sql_query(query, engine)
    display(df)  
except Exception as e:
    print(f"Error executing SQL query: {str(e)}")

       Zone  PrimaryCareClinicsVisits
0   Central                     11032
1   Eastern                     24339
2  Northern                     25398
3   Western                     33764

### Explanation

- **Explanation**: Defines an SQL query to retrieve data from the `Accessing_Primary_Care_in_Nova_Scotia` table.
- **Columns Selected**: Retrieves `Zone` and calculates the sum of `Actual` visits as `PrimaryCareClinicsVisits`.
- **Filters**: Includes rows where `Measure_Name` is 'Visits were completed at Primary Care Clinics' and where the `Date` year is either 2022 or 2023.

## Mobile Clinic Visits by Zone for 2022 and 2023

In [16]:
# Define the SQL query
query = """
SELECT
    Zone,
    SUM(Actual) AS MobilePrimaryCareClinicsVisits
FROM
    dbo.Accessing_Primary_Care_in_Nova_Scotia
WHERE
    [Measure_Name] = 'Visits were completed at Mobile Primary Care Clinics'
    AND YEAR(Date) IN (2022, 2023)  -- Filter for years 2022 and 2023
GROUP BY
    Zone;
"""


try:
    df = pd.read_sql_query(query, engine)
    display(df)  
except Exception as e:
    print(f"Error executing SQL query: {str(e)}")

       Zone  MobilePrimaryCareClinicsVisits
0   Central                           12076
1   Eastern                            1904
2  Northern                             127
3   Unknown                             898
4   Western                            3388

### Explanation

- **Explanation**: Defines an SQL query to retrieve data from the `Accessing_Primary_Care_in_Nova_Scotia` table.
- **Columns Selected**: Retrieves `Zone` and calculates the sum of `Actual` visits as `MobilePrimaryCareClinicsVisits`.
- **Filters**: Includes rows where `Measure_Name` is 'Visits were completed at Mobile Primary Care Clinics' and where the `Date` year is either 2022 or 2023.
- **Grouping**: Groups results by `Zone`.